<html>
<head>
  <title>Flashcart | Online Shop Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="description" content="The fastest shopping experience ever built. Presenting, FlashCart a template for your online ecommerce shop.">
  <meta name="theme-color" content="#04a777"/>
  
  <meta property="og:title" content="Flashcart | Online Shop Template"/>
  <meta property="og:url" content="https://flashcart.wiosdesigns.xyz/"/>
  <meta property="og:description" content="The fastest shopping experience ever built. Presenting, FlashCart a template for your online ecommerce shop">
  <meta property="og:image" content="/codefiles/assets/ogicon.png">
  <meta property="og:type" content="website" />
  
  <meta name="twitter:card" content="app"></meta>
  <meta property="twitter:image" content="/codefiles/assets/ogbg.png">
  
  
  <link rel="shortcut icon" type="image/png" href="/codefiles/assets/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/codefiles/css/main.css"/>
  <script src="/codefiles/js/hnav.js"></script>
  <script src="/codefiles/js/papaparse.min.js"></script>
  
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/codefiles/assets/apple-touch-icon.png">
  
  <script src="/codefiles/js/vue.min.js"></script>
  <script src="/codefiles/js/main.js"></script>
  <script>
    navigator.serviceWorker && navigator.serviceWorker.register('/sw.js').then(function(registration) {
      registration.addEventListener('updatefound',function(){
        caches.delete('the-magic-cache');
        window.location.reload(true);
      })
      console.log('Excellent, registered with scope: ', registration.scope);
    });
  </script>
</head>
<body onload="init()">
<div id="loading">
  <img src="/codefiles/assets/icon.png"><br>
  <h2>Loading</h2>
</div>
<div id="app">
  <header>
    <a href="#home">
      <img src="/codefiles/assets/logotext.png">
    </a>
    <a href="#home" v-if="page=='shop'" style="color: var(--theme);">
      HOME
    </a>
    <a href="#shop" v-else style="color: var(--theme);">
      SHOP
    </a>
  </header>
  <section id="home" class="hnav" hnav:start>
    <h1 style="color: var(--theme); border-bottom: 0.5mm solid var(--theme);">Meet FlashCart</h1>
    <h3>
      Your own app for your own shop.  
    </h3>
    <h3>
      List your products and take orders via WhatsApp.
    </h3>
    <a href="#shop" class="btn">Try the demo</a>
    <br><br><br>
    <div class="grid-container">
      <div class="grid-item">
        <a class="btn-icon" href="https://wa.me/919901297970?text=Hi%2C%20I%20am%20interested%20in&20Flashcart" class="btn"> 
          <img src="/codefiles/assets/whatsapp.png">
        </a>
      </div>
      <div class="grid-item">
        <a class="btn-icon" href="tel:+919901297970" class="btn"> 
          <img src="/codefiles/assets/phone.png">
        </a>
      </div>     
    </div>
  </section>
  
  <section id="shop" class="hnav">
    <p>
      <input type="name" id="searchquery" v-on:input="filter_items" placeholder="Search" autocomplete="off">
      <select v-model="activeCategory" v-on:change="filter_items" style="text-align-last: right;">
        <option value="All Categories">All Categories</option>
        <option v-for="category in categories" v-bind:value="category">
          {{category}}
        </option>
      </select>
    </p>
    <div v-bind:empty-message="'No matching items in '+activeCategory">  
      <shop-item 
        v-for="i in items" 
        v-bind:name="i.Name"
        v-bind:image="i.Image"
        v-if="i.match"
        v-bind:description="i.Description"
        v-bind:unitprice="i['Unit Price']"
        v-bind:unit="i['Unit']"
        v-bind:instock="i['In Stock']"
        v-model:value="i.quantity"
        >
      </shop-item>
    </div>  
    
  </section>
  
    
  <section id="checkout" class="hnav" hnav:on="app.cartpage=true;" hnav:off="app.cartpage=false;">
    <h1>Your Cart</h1>
    <button v-if="nitems!=0" onclick="goToOrder()">Review & Place Order</button><br>
      
    <shop-item 
      v-for="i in items" 
      v-if="i.quantity>0" 
      v-bind:name="i.Name"
      v-bind:farm="i['Farm Name']"
      v-bind:description="i.Description"
      v-bind:unitprice="i['Unit Price']"
      v-bind:unit="i['Unit']"
      v-bind:instock="i['In Stock']"
      v-model:value="i.quantity"
      v-bind:compact="true"
      >
    </shop-item>
    
    <div v-if="nitems==0">
      Your cart is empty
    </div>
    <div v-else id="placeorder">
      <span>Total: {{settings.currency}}{{carttotal}}</span>
      <h2>Place order</h2>
      <input type="text" v-model="name" placeholder="(Your Name)"><br>
      <textarea v-model="address" placeholder="(Your Address)"></textarea>
      
      <button v-on:click="orderwa">Order Via WhatsApp</button><br>
    </div>
  </section>
  
  <div id="footer" v-if="nitems>0 && !cartpage">
    <span>{{nitems}} item<span v-if="nitems>1">s</span> in cart</span>
    <a href="#checkout">Checkout</a>
  </div>
  
</div>
<script type="text/x-template" id="shop-item-template">
  <div class="shopitem" v-bind:class="{compact:compact}">
      
    
    <span class="name">
      {{name}}
    </span>
    
    <span class="price" style="grid-area: 2 / 1 / 3 / 2;">{{$parent.settings.currency}}{{unitprice}}/{{unit}}</span>
    
    <div style="grid-area: 2 / 3 / 3 / 4; justify-self: end;" v-if="instock && value<=0">
      <button v-on:click="increment" class="addtocart" style="width: 100%; padding: 0.5mm 3mm; font-size: 80%;">Add to cart</button>
    </div>
    <div style="grid-area: 2 / 3 / 3 / 4; justify-self: end;" v-else-if="!instock">
      <span class="outofstock">Out of Stock</span>
    </div>
    
    <div class="qctrl" style="grid-area: 2 / 3 / 3 / 4; justify-self: end;" v-else>
      <span class="icon" v-on:click="decrement">r</span>
      <span class="qty-display">{{value}}</span>
      <span class="icon" v-on:click="increment">a</span>
    </div>
    
    <span class="total" 
      style="grid-area: 2 / 2 / 3 / 3; justify-self: start; padding-right: 5mm; color: var(--theme);" 
      v-if="value>0">
        {{$parent.settings.currency}}{{(value*unitprice).toFixed(2)}}
    </span>

    <details v-if="!compact && $root.settings.showDescription" style="grid-area: 4 / 1 / 5 / 4 ;">
      <summary>Description</summary>
      {{description}}
    </details>
  </div>
</script>
</body>
</html>
